.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
}

.form-control input,
.form-control textarea {
    margin-top: 0.5rem;
    font: inherit;
    border: none;
    box-shadow: 5px 7px 12px 1px rgba(0, 0, 0, 0.5);
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: #ffcf33;
}